.resume-header {
  text-align: center;
}

.resume-section-header {
  text-align: center;
  margin-top: 74px;
}

.contact > p {
  margin: 0;
  padding: 0;
}

.contact {
  text-align: center;
}

.skills li, .experience-content, .contact > * {
  font-size: 16px;
}

.left {
  float: left;
}

.right {
  float: right;
  font-size: 1rem;
}

.right a {
  font-size: .75rem;
}

.print {
  display: none;
}

.content-section {
  margin-top: 20px;
}

.skills > div {
  display: inline-block;
  width: 24%;
  padding: 0;
  margin: 0;
}

.skills ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.skills li {
  padding-left: 37%;
  margin: 0;
}

.experience-heading {
  display: inline-block;
  margin: 0;
  padding: 0;
}

p.experience-heading {
  xmargin-bottom: 15px;
}

.experience-content {
  clear: both;
  margin-top: 2px;
  padding: 0 20px;
}

.experience-content > h5 {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 15px;
}

.projects {
  padding: 2px 40px;
}

.project-title {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.education-heading {
  padding: 0;
  margin: 0;
  display: inline-block;
}

.education {
  margin-bottom: 110px;
}

.extended-content {
  margin-top: 4px;
}

.project-title-wrapper {
  margin-bottom: 6px;
}

#github-projects {
  text-align: center;
  font-size: .97em;
  margin-bottom: 42px;
}
