.resume-header {
  text-align: center;
}

.resume-section-header {
  text-align: center;
  margin-top: 40px;
}

.contact > p {
  margin: 0;
  padding: 0;
}

.contact {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.print {
  display: none;
}

.content-section {
  margin-top: 20px;
}

.skills > div {
  display: inline-block;
  width: 32%;
  padding: 0;
  margin: 0;
}

.skills ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.skills li {
  padding-left: 33%;
}
